
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
  color: #931621;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.languages{
  text-align: center;
  padding-left: 0px;
}

.languages li {
  display: inline-block;
  margin: 10px;
  font-weight: bold;
}

.languages li:hover {
  cursor: pointer;
}

li{
  list-style: none;
}

.active {
  color: #931621;
}

.popular-item {
  display: inline-block;
  padding: 20px;
  width: 20%;
}

.space-list-items img {
  height: 200px;
  width: 200px;
  border-radius: 50% ;
}

.space-list-items{
  padding-left: 0px;
}

.popular-rank {
  text-align: center;
}

.popular-list {
  padding-left: 0px;
  text-align: center;
}

.loading {
  text-align: center;
  font-weight: bold;
  color:#931621;
  margin-top: 100px;
}

.nav-active {
  font-weight: bold;
}

.nav li {
  display: inline-block;
  margin: 10px;
}

.home-container {
  text-align: center;
}

.home-container h1 {
  margin-top: 50px;
}

.home-button {
  padding: 10px 30px;
  background: #931621;
  color:white;
  margin-top: 50px;
  display: inline-block;
}

.home-button:hover {
  background: #7d131c ;
  color:white;
  text-decoration: none;
}

.player-form-button {
  background: #931621;
  color:white;
  border: 1px solid #7d131c;
  padding: 10px 30px;
  margin-top: 20px;
}

.player-form-button:hover {
  background: #7d131c ;
  cursor: pointer;
}

.player-form-input {
  height: 30px;
  width: 80%;
}

.player-form-container {
  width: 44%;
  margin-right: 2px;
  float: left;
}

.battle-container {
  margin: 0 auto;
  text-align: center;
}

.player-profil-container {
  width: 49%;
  margin-right: 1%;
  float: left;
}
.player-profil-container img {
  border-radius: 50%;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.win-los{
  display: inline-block;
  width: 50%;
}

.result-container{
  margin: 0 auto;
  text-align: center;
}